*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background:linear-gradient(to right top,#FBB03B,#D4145A);
    font-weight: bold;
}
.text-box {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.button {
  position: relative;
  background:linear-gradient(to right top,#01baef,#20bf55);
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  border-radius: 50%;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  width: 220px;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}